@charset "utf-8";
/*
 파일명:			webfont.css
 기능설명:		webfont
 작성자:			wj-l
 최종수정일:	2014.10.21.
*/

@font-face {
	font-family: 'NanumGothic';
	src: url('/vocaTest/layouts/hackers/_css/fonts/NanumGothic-Regular.eot');
	src: url('/vocaTest/layouts/hackers/_css/fonts/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
		url('/vocaTest/layouts/hackers/_css/fonts/NanumGothic-Regular.woff2') format('woff2'),
		url(/vocaTest'/layouts/hackers/_css/fonts/NanumGothic-Regular.woff') format('woff')
}
