/* common */
body {padding:0;margin:0;}
img,p {border:0;margin:0;padding:0;}
form {display:inline;margin:0;padding:0;}

.b {font-weight:bold;}
.u {text-decoration:underline;}
.s {text-decoration:line-through;}
.left {float:left;}
.right {float:right;}
.txtc {text-align:center;}
.txtl {text-align:left;}
.txtr {text-align:right;}
.clear {clear:both;}
.shift {position:relative;left:-2px;}
.hand {cursor:pointer;}
.hide {display:none; }
.eng_box .hide {
display:none;  visibility:hidden; font-size: 0; width: 0; height: 0; line-height: 0; margin: 0; padding: 0; background: none; position:absolute; left:0; top:0;
 }
.sysMsgBox {padding:30px;font-size:15px;font-family:dotum, Arial, Helvetica, sans-serif;color:#ff0000;font-weight:bold;border:#dfdfdf solid 5px;background:#f9f9f9;text-align:center;}
.sysMsgBox img {position:relative;top:2px;left:-2px;}
.filter {filter:alpha(opacity=20);opacity:0.2;}
.gray {filter:gray();}
.nopm {padding:0;margin:0;}
/* @common */

/* text message */
.text-red {color: #FF0000;}
.text-green {color: #00FF00;}
.text-blue {color: #0000FF;}
.muted {color: #999999;}
a.muted:hover,a.muted:focus {color: #808080;}
.text-warning {color: #c09853;}
a.text-warning:hover, a.text-warning:focus {color: #a47e3c;}
.text-error {color: #b94a48;}
a.text-error:hover, a.text-error:focus {color: #953b39;}
.text-info {color: #3a87ad;}
a.text-info:hover, a.text-info:focus {color: #2d6987;}
.text-success {color: #468847;}
a.text-success:hover, a.text-success:focus {color: #356635;}
/* @text message */

/* mobile */
#pctomobile {margin:20px 0 0 0;text-align:center;border:#dfdfdf solid 1px;background:#f9f9f9;font-size:25px;font-weight:bold;}
#pctomobile a {display:block;margin:5px;padding:15px;}
/* @mobile */

/* member layer */
.mbrLayerBlock {position:absolute;display:block;background:#ffffff;width:310px;height:450px;border:#333333 solid 1px;border-bottom:#333333 solid 2px;}
/* @member layer */

/* button */
.btn00 {display:inline-block;border-top:#DFDFDF solid 1px;border-left:#DFDFDF solid 1px;border-right:#DFDFDF solid 1px;border-bottom:#C0C0C0 solid 1px;}
.btn00 a {display:inline-block;border-top:#FFFFFF solid 1px;background:#EFEFEF;padding:4px 7px 4px 7px;color:#444;font-family:dotum;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn00 a:hover {background:#E1E1E1;}
.btn00 input {margin:0;cursor:pointer;border-top:#DFDFDF solid 1px;border-left:#DFDFDF solid 1px;border-right:#DFDFDF solid 1px;border-bottom:#C0C0C0 solid 1px;background:#EFEFEF;height:18px;color:#444 !important;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn00 input:hover {background:#E1E1E1;}

.btn01 {display:inline-block;border-top:#29447E solid 1px;border-left:#29447E solid 1px;border-right:#29447E solid 1px;border-bottom:#1A356E solid 1px;}
.btn01 a {display:inline-block;border-top:#8A9CC2 solid 1px;background:#5972A8;padding:3px 7px 4px 7px;color:#ffffff !important;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn01 a:hover {background:#687EAC;color:#ffffff !important;}
.btn01 input {margin:0;cursor:pointer;border-top:#8A9CC2 solid 1px;border-left:#5972A8 solid 1px;border-right:#5972A8 solid 1px;border-bottom:#5972A8 solid 1px;background:#5972A8;height:18px;color:#ffffff;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn01 input:hover {background:#687EAC;}

.btn02 {display:inline-block;border-top:#3B6E22 solid 1px;border-left:#3B6E22 solid 1px;border-right:#3B6E22 solid 1px;border-bottom:#2C5115 solid 1px;}
.btn02 a {display:inline-block;border-top:#98C286 solid 1px;background:#6DA952;padding:3px 7px 4px 7px;color:#ffffff !important;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn02 a:hover {background:#6DB947;color:#ffffff !important;}
.btn02 input {margin:0;cursor:pointer;border-top:#98C286 solid 1px;border-left:#6DA952 solid 1px;border-right:#6DA952 solid 1px;border-bottom:#6DA952 solid 1px;background:#6DA952;height:18px;color:#ffffff;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn02 input:hover {background:#6DB947;}

.btn03 {display:inline-block;border-top:#C53B27 solid 1px;border-left:#C53B27 solid 1px;border-right:#C53B27 solid 1px;border-bottom:#B23322 solid 1px;}
.btn03 a {display:inline-block;border-top:#F26450 solid 1px;background:#DA4631;padding:3px 7px 4px 7px;color:#ffffff !important;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn03 a:hover {background:#EC543F;color:#ffffff !important;}
.btn03 input {margin:0;cursor:pointer;border-top:#F26450 solid 1px;border-left:#DA4631 solid 1px;border-right:#DA4631 solid 1px;border-bottom:#DA4631 solid 1px;background:#DA4631;height:18px;color:#ffffff;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn03 input:hover {background:#EC543F;}

.btn04 {display:inline-block;border-top:#767676 solid 1px;border-left:#767676 solid 1px;border-right:#767676 solid 1px;border-bottom:#6a6a6a solid 1px;}
.btn04 a {display:inline-block;border-top:#a1a1a1 solid 1px;background:#858585;padding:3px 7px 4px 7px;color:#ffffff !important;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn04 a:hover {background:#b1b1b1;color:#ffffff !important;}
.btn04 input {margin:0;cursor:pointer;border-top:#a1a1a1 solid 1px;border-left:#858585 solid 1px;border-right:#858585 solid 1px;border-bottom:#858585 solid 1px;background:#858585;height:18px;color:#ffffff;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn04 input:hover {background:#b1b1b1;}

.btn05 {display:inline-block;border-top:#ec9600 solid 1px;border-left:#ec9600 solid 1px;border-right:#ec9600 solid 1px;border-bottom:#ec9600 solid 1px;}
.btn05 a {display:inline-block;border-top:#ffbe4c solid 1px;background:#ffaa15;padding:3px 7px 4px 7px;color:#ffffff !important;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn05 a:hover {background:#e29714;color:#ffffff !important;}
.btn05 input {margin:0;cursor:pointer;border-top:#ffbe4c solid 1px;border-left:#ffaa15 solid 1px;border-right:#ffaa15 solid 1px;border-bottom:#ffaa15 solid 1px;background:#ffaa15;height:18px;color:#ffffff;font-family:dotum;font-weight:bold;font-size:11px;text-decoration:none;letter-spacing:-1px;}
.btn05 input:hover {background:#e29714;}


.btnblue {cursor:pointer;border:#3399DD solid 1px;background:url('../image/_public/grad_blue.jpg') #33C9FD left bottom repeat-x;color:#ffffff;height:21px; padding: 1px 6px;}
.btngray {cursor:pointer;border:#666666 solid 1px;background:url('../image/_public/grad_gray.jpg') #B3B3B3 left bottom repeat-x;color:#ffffff;height:21px; padding: 1px 6px;}
.btnred {cursor:pointer;border:#BE2913 solid 1px;background-color: #DA4631;color:#ffffff;height:21px; padding: 1px 6px;}
.btnnavy {cursor:pointer;border:#030066 solid 1px;background-color: #050099;color:#ffffff;height:21px; padding: 1px 6px;}
.btngreen {cursor:pointer;border:#037543 solid 1px;background-color: #019E59;color:#ffffff;height:21px; padding: 1px 6px;}
.btnyellow {cursor:pointer;border:#EEA801 solid 1px;background-color: #FFB70C;color:#ffffff;height:21px; padding: 1px 6px;}
.btnpurple {cursor:pointer;border:#BB1DA7 solid 1px;background-color: #DD4BCA;color:#ffffff;height:21px; padding: 1px 6px;}
.btnpink {cursor:pointer;border:#F01361 solid 1px;background-color: #F9377B;color:#ffffff;height:21px; padding: 1px 6px;}
.btnorange {cursor:pointer;border:#FB7E1A solid 1px;background-color: #FE892B;color:#ffffff;height:21px; padding: 1px 6px;}
.btnorange1 {cursor:pointer;border:#FB7E1A solid 1px;background-color: #FE892B;color:#ffffff;height:21px; padding: 1px 1px;}
.btnviolet {cursor:pointer;border:#0D0DF8 solid 1px;background-color: #5959FD;color:#ffffff;height:21px; padding: 1px 6px;}

.btnGray01 {display:block;height:27px;background:url('../image/btn/gray_01_left.jpg') left no-repeat;}
.btnGray01 i {display:block;height:27px;background:url('../image/btn/gray_01_right.jpg') right no-repeat;font-weight:bold;font-family:dotum;font-size:11px;font-style:normal;color:#333333;}
.btnGray01 s {display:inline-block;text-decoration:none;padding:9px 0 0 10px;letter-spacing:-1px;}

.plusBlue s {background:url('../image/btn/add_01_blue.gif') 10px 6px no-repeat;padding:9px 0 0 30px;}
.txtCenter {text-align:center;}
.noIcon s {padding:9px 0 0 0;}
/* @button */

/* pagebpx */
.pagebox01 {}
.pagebox01 .selected,.pagebox .notselected:hover {padding:0 4px 0 4px;font-family:dotum, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#FF5B01;}
.pagebox01 .notselected {padding:0 4px 0 4px;text-decoration:none;font-family:dotum, Arial, Helvetica, sans-serif;font-size:12px;color:#777;font-weight:bold;}
.pagebox01 img {padding:0 4px 0 4px;margin-bottom:-2px;}
/* page 수정 */
.pagebox01 .notselected,.pagebox01 .selected{border:1px solid #d8d7d7;margin:0 3px;color:#777;font-size:14px;display:inline-block;padding:0 5px;min-width:12px;height:22px;line-height:22px;text-align:center;vertical-align:top;}
.pagebox01 .selected{color:#fff;background:#0469ad;}

/* 페이지버튼 리뉴얼 150330 */
.pagebox001 {text-align:center}
/*.pagebox001 *{vertical-align:top;}*/ /* 180209 수정 */
.pagebox001 .notselected, 
.pagebox001 .selected,
.pagebox .notselected:hover {margin:20px 3px 0 0;padding:0;display:inline-block;border:1px solid #d8d7d7;background:#fff;text-align:center;width:28px;height:28px;line-height:26px;text-decoration:none;font-family:dotum, Arial, Helvetica, sans-serif;font-size:14px;color:#777;font-weight:bold;}
.pagebox001 .selected,
.pagebox .notselected:hover {border:1px solid #4886cf;background:#4886cf;color:#fff; }
.pagebox001 .border_y {display:inline-block;margin:20px 3px 0 0;padding:7px 7px;border:solid 1px #d6d6d6;  vertical-align:top;} /*추가함*/ /* 180209 수정 vertical-align:middle -> top*/
.pagebox001 .padding_y {display:inline-block;margin:20px 3px 0 0;padding:7px 7px;} /*추가함*/

.pagebox02 {}
.pagebox02 .selected,.pagebox .notselected:hover {padding:4px 8px 3px 8px;margin:0 1px 0 1px;border:#dfdfdf solid 1px;font-family:dotum, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#01939c;}
.pagebox02 .notselected {padding:4px 8px 3px 8px;margin:0 1px 0 1px;border:#ffffff solid 1px;text-decoration:none;font-family:dotum, Arial, Helvetica, sans-serif;font-size:12px;font-weight:bold;color:#777;}
.pagebox02 .split {display:none;} 
.pagebox02 img {padding:0 4px 0 4px;margin-bottom:-2px;}
/* @pagebox */

/* input */
.input {border:#dfdfdf solid 1px;padding:2px 0 0 2px;margin:1px;height:16px;}
.input:hover {border:#cdcdcd solid 1px;background:#f9f9f9;}
.input:focus {border:#FF9D1D solid 2px;margin:0;background:#f9f9f9;}
/* @input */

/* scroll */
.scrollbar01 {scrollbar-base-color:#E1E1E1;scrollbar-face-color:#FFF;scrollbar-track-color:#FFF;scrollbar-highlight-color:#FFF;scrollbar-3dlight-color:#E1E1E1;scrollbar-shadow-color:#E1E1E1;scrollbar-darkshadow-color:#FFF;scrollbar-arrow-color:#7a7a7a;}
/* @scroll */

/* tooltip */
.tooltip {position:relative;z-index:20;}
.tooltip span {display:none;}
.tooltip:hover {z-index:21;}
.tooltip:hover span {display:block;position:absolute;padding:10px;line-height:150%;font-weight:normal;font-size:11px;font-family:dotum;font-style:normal;color:#222222;text-decoration:none;background:#F4EFDE;border:#666666 solid 1px;filter:alpha(opacity=90);opacity:0.9;border-radius:5px 5px 5px 5px;}
.tooltip ._top {left:-20px;bottom:25px;}
.tooltip ._top i {display:block;width:13px;height:8px;background:url('../image/_public/arr_bottom.gif') no-repeat;position:absolute;bottom:-8px;left:20px;}
.tooltip ._bottom {left:-20px;top:25px;}
.tooltip ._bottom i {display:block;width:13px;height:8px;background:url('../image/_public/arr_top.gif') no-repeat;position:absolute;top:-8px;left:20px;}
.tooltip ._left {top:-10px;}
.tooltip ._left i {display:block;width:8px;height:13px;background:url('../image/_public/arr_right.gif') no-repeat;position:absolute;right:-8px;top:10px;}
.tooltip ._right {top:-10px;}
.tooltip ._right i {display:block;width:8px;height:13px;background:url('../image/_public/arr_left.gif') no-repeat;position:absolute;left:-8px;top:10px;}
.tooltip ._w100 {width:100px;}
.tooltip ._w150 {width:150px;}
.tooltip ._w200 {width:200px;}
.tooltip ._w250 {width:250px;}
.tooltip ._w300 {width:300px;}
.tooltip ._w350 {width:350px;}
.tooltip ._w400 {width:400px;}
.tooltip ._w450 {width:450px;}
.tooltip ._w500 {width:500px;}
.tooltip ._w550 {width:550px;}
.tooltip ._w600 {width:600px;}
.tooltip ._w650 {width:650px;}
.tooltip ._w700 {width:700px;}
.tooltip ._l50  {left: -85px;}
.tooltip ._l100 {left:-135px;}
.tooltip ._l150 {left:-185px;}
.tooltip ._l200 {left:-235px;}
.tooltip ._l250 {left:-285px;}
.tooltip ._l300 {left:-335px;}
.tooltip ._l350 {left:-385px;}
.tooltip ._l400 {left:-435px;}
.tooltip ._l450 {left:-485px;}
.tooltip ._l500 {left:-535px;}
.tooltip ._l550 {left:-585px;}
.tooltip ._l600 {left:-635px;}
.tooltip ._l650 {left:-685px;}
.tooltip ._l700 {left:-735px;}
.tooltip ._r50  {right: -85px;}
.tooltip ._r100 {right:-135px;}
.tooltip ._r150 {right:-185px;}
.tooltip ._r200 {right:-235px;}
.tooltip ._r250 {right:-285px;}
.tooltip ._r300 {right:-335px;}
.tooltip ._r350 {right:-385px;}
.tooltip ._r400 {right:-435px;}
.tooltip ._r450 {right:-485px;}
.tooltip ._r500 {right:-535px;}
.tooltip ._r550 {right:-585px;}
.tooltip ._r600 {right:-635px;}
.tooltip ._r650 {right:-685px;}
.tooltip ._r700 {right:-735px;}
/* @tooltip */

